@use '../../abstract/colors' as *;

.woocommerce-Price-amount {
  color: map-get($colors, "primary");
  font-weight: 700;
}

del {
  .woocommerce-Price-amount {
    color: black;
    font-weight: 700;
  }
}