@use '../../abstract/colors' as *;
@use '../../abstract/font-weights' as *;

.woocommerce-Price-amount {
  color: map-get($colors, "primary");
  font-weight: map-get($font-weights, "bold");
}

del {
  .woocommerce-Price-amount {
    color: black;
    font-weight: map-get($font-weights, "regular");
  }
}