@use '../abstract/colors' as *;

.skip-link {
  position: absolute;
  transform: translateY(-300%);
  background-color: map-get($colors, "primary");
  padding: 0.5rem 1.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: transform 300ms ease-in;
  color: #FFF;
  text-decoration: none;
  z-index: 9999;
}

.skip-link:focus {
  transform: translateY(0);
  outline-color: transparent;
}